$navbar-hover: rgba(96, 96, 96, 0.8);

* {
	font-family: 'Open Sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.navbar {
	background-color: rgba(32, 32, 32, 0.7);
}

.navbar-right {
	li {
		a {
			font-size: 16pt;
			text-shadow: 0px 0px #000;
			color: white;
		}

		a:hover {
			background-color: $navbar-hover;
		}
	}
}

.navbar-brand:hover {
	background-color: $navbar-hover;
}

#nav-logo {
	height: 44px;
	margin-top: -11px;
}

.navbar-toggle {
	border: 1px solid white;

	.icon-bar {
		background-color: white;
	}
}

#cover {
	border-bottom: 1px solid grey;
	height: 500px;
	background: url('../img/cover.png') center fixed no-repeat;
	background-size: cover;
}

.jumbotron {
	color: white;

	h1 {
		color: white;
		margin-top: 167px;
		text-align: center;
	}

	.inner.cover {
		margin-top: 75px;
		text-align: center;

		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

#main {
	background: url('../img/shattered_@2X.png') repeat;
}

.center {
	text-align: center;
}

#info {
	margin-bottom: 40px;

	#dash-info {
		font-size: 14pt;
	}
}

#facts {
	background-color: rgba(64, 64, 64, 0.30);
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 40px;

	i {
		margin-top: 10px;
		margin-bottom: 15px;
	}

	img {
		margin: 30px auto 20px auto;
		display: block;
	}

	p {
		margin: 0px 5px;
	}
}

#games {
	margin-bottom: 10px;

	img {
		margin: 20px auto 20px auto;
		display: block;
		height: 416px;
	}
}

#contribute {
	margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: rgba(32, 32, 32, 1.0);

  #footer-logo{
  	margin-top: 8px;
  	height: 80px;
  }

  #git-logo {
  	margin-top: 18px;
  	float: right;
  	color: white;
  }

  #git-logo:hover {
  	color: #c0c0c0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

	#games {

		img {
			width: 300px;
			height: auto;
		}
	}
	#cover {
		/*background:url('../images/cover-mobile.png') center fixed no-repeat;*/
		background-position: -955px 0px;
	}

	#facts {
		padding-top: 10px;

		i {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}

	.footer {
		#footer-logo {
			margin-top: 17px;
			height: 65px;
		}
	}
}